
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

body{
	background-image: url('https://wallpapercave.com/uwp/uwp1842451.jpeg');
}

input[type=text], input[type=password]{
    color: black
}

*{
  font-family: 'Nunito', sans-serif;
}

p{
	font-size: 18px;
}

.card-header{
	font-size: 20px;
}

.card-body p{
	font-size: 18px;
}

.nav-item{
	margin: 5px;
}

.nav-item:hover{
	background: #009688;
	border-radius: 25px;
}

textarea{
	resize: none;
}
